.form__container {
  margin: 0px auto;
  width: 300px;
  padding: 30px 10px 15px 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.form__label {
  display: flex;
  flex-direction: column;
  font-style: italic;
}

.form__input {
  margin-top: 10px;
  height: 40px;
  font-size: 14px;
  padding-left: 10px;
}

.form__button {
  margin-top: 30px;
  padding: 5px 5px;
  border-radius: 15px;

  background-color: grey;
  color: tomato;
  cursor: pointer;
  outline: none;
  transition: transform 300ms ease-in-out;
}
.form__button:hover {
  background-color: tomato;
  color: grey;
  transform: scale(1.1);
}
