.container {
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 4px;
}

.name {
  font-size: 14px;
  font-weight: 700;
  margin-right: 12px;
}

.welcome {
  font-size: 12px;
  font-weight: 500;
  margin-right: 5px;
}

.btnLogOut {
  display: inline-block;
  padding: 5px;
  font-weight: 500;
  color: #2a363b;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 12px;
}
